html {
	font-family: 'Noto Sans KR', sans-serif;
}
body {
	margin: 0;
}
div, section, header, footer, p, h1, h2 {
	/* 패딩과 보더가 width, height에 포함되도록 함 */
	box-sizing: border-box;
}
a {
	color: royalblue;
}
img {
	/* 반응형이 잘 되라고 max-width를 줌 */
	max-width: 100%;
	height: auto;
}
.global-width {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 15px;
}
.scroll-graphic {
  /* caniuse 에서 검색해보자. IE에서는 sticky 못 씀 */
  position: sticky;
  top: 0;
  height: 100vh;
}
.graphic-item {
  /* 이미지가 화면에 꽉 차게 하고 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}